/* fonts family: Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 201,
            20%,
            23%;
        --foreground: 97,
            13%,
            80%;

        --muted: 202,
            20%,
            32%;
        --muted-foreground: 98,
            13%,
            72%;

        --accent: 133,
            18%,
            59%;
        --accent-foreground: 99,
            13%,
            52%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --card: 186,
            21%,
            40%;
        --card-foreground: 213 31% 91%;

        --primary: 203,
            21%,
            12%;


        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --border: 133,
            18%,
            59%;
        --input: 201,
            20%,
            36%;
        --ring: 133,
            18%,
            59%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply box-border list-none p-0 m-0 scroll-smooth;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

@layer utilities {
    /* 
     SECTION: 
     here we're going to style them shadcn components as well components from formik.
    */

    /* 
     SECTION: 
     TYPOGRAPHY
    */
    .thin {
        @apply text-[18px] font-light leading-[140%] tracking-tighter;

    }

    .regular {
        @apply text-[16px] font-medium leading-[140%];

    }

    .semibold {
        @apply text-[20px] font-semibold leading-[140%] ;

    }

    .bold {
        @apply text-[24px] font-bold leading-[140%] tracking-tighter;

    }

    .error-message{
        @apply text-[#de022d] regular text-[10px] mx-2  text-center animate-fade-in; 
    }

    /* 
     NOTE: 
     to disable spin button of input elem type="number"
    */

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .form-input {
        @apply px-4 py-2 rounded-sm bg-input text-[20px] focus:ring-[4px] hover:ring-2  mx-2 outline-none thin
    }

    .form-button {
        @apply bg-primary text-[20px] focus:ring-2 mx-2 bold mt-2
    }

    .search-places {
    @apply h-12 text-lg regular border-none placeholder:thin  focus-visible:ring-0 focus-visible:ring-offset-0 ring-offset-0 !important;
    }



    


}