@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 201,
            20%,
            23%;
        --foreground: 97,
            13%,
            80%;

        --muted: 202,
            20%,
            32%;
        --muted-foreground: 98,
            13%,
            72%;

        --accent: 201,
            20%,
            20%;
        --accent-foreground: 99,
            13%,
            52%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --card: 186,
            21%,
            40%;
        --card-foreground: 213 31% 91%;

        --primary: 203,
            21%,
            12%;


        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --border: 165,
            19%,
            40%;
        --input: 201,
            20%,
            36%;
        --ring: 97,
            13%,
            80%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply box-border list-none p-0 m-0 scroll-smooth;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

@layer utilities {
    /* 
     SECTION: 
     here we're going to style them shadcn components as well components from formik.
    */

    .form-input {
        @apply p-1 rounded-sm bg-input text-[20px] active:ring-2 mb-2 mx-2
    }

    .form-button {
        @apply bg-primary text-[20px] active:ring-2 mx-2
    }


}